@{
    ViewData["Title"] = "Карта";
}

<link rel="stylesheet" href="~/css/HexStyles.css" asp-append-version="true" />
<div class="hex-grid" id="map">

</div>
<script src="~/js/hexScripts.js"></script>
