.hex-grid {
    column-count: auto;
    font-size: 0;
    --s: 44px;
    --m: -2px;
    margin: 5px;
    float: left;
    height: auto;
    width: auto;
    /*    height: calc(var(--s)*18);
    width: calc(var(--s)*25);*/
    border: groove;
}

.check {
    display: block;
}

.void-hex {
    display: block;
    width: calc(var(--s)*1.1547);
    height: var(--s);
    /*background-color: gray;*/
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    margin: var(--m);
}

.hex {
    display: block;
    width: calc(var(--s)*1.1547);
    height: var(--s);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    margin: var(--m);
}

.ground {
    background-image: url(../resources/ground.png);
}

.water{
    background-image: url(../resources/water.png)
}

img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: auto;
}

.hex:hover {
    border: 5px, 5px, #000;
}

.honest-column {
    float: left;
    margin-top: calc(var(--s)/2);
    margin-left: calc(var(--m) - var(--s) * 0.2886);
}

.odd-column {
    float: left;
    margin-left: calc(var(--m) - var(--s) * 0.2886);
}
